@import url('https://fonts.googleapis.com/css2?family=Contrail+One&display=swap');

/* ----------Définition des variables---------- */
:root {
    --hac-ciel: #9dcbe3;
    --hac-marine: #002e5d;
    --white: #ffffff;
    --grey: #f0f0f0;
    --error: #e74c3c;
}

/* ----------Style de la page---------- */

body {
    background: linear-gradient(to right, var(--hac-ciel),var(--hac-marine));
    margin: 0;
    font-family: "Contrail One", sans-serif;
    min-height: 100vh;
    padding-bottom: 50px;
    font-weight: 400;
    font-style: normal;
}

/* ----------Style des titres---------- */

h1{
    font-size: 4rem;
    text-align: center;
    line-height: 0%;
}

h2{
    font-size: 2rem;
    text-align: center;
    line-height: 0%;
}

h4{
    font-size: 3rem;
    text-align: center;
    line-height: 0%;
}

/* ---Attention - ne pas modifier le titre car utilisé en JS--- */
h3{
    font-size: 1rem;
}

header {
    text-align: center;
    color: var(--white);
    padding: 20px;
}

.registration-mode {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 30px;
}

.registration-mode input[type="radio"] {
    display: none;
}

.mode-btn {
    display: inline-block;
    padding: 15px 30px;
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--hac-marine);
    background-color: var(--white);
    border: 2px solid var(--hac-ciel);
    border-radius : 50px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.btn-validate {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--hac-marine);
    background-color: var(--white);
    border: 2px solid var(--hac-ciel);
    border-radius : 50px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.btn-cancel {
    display: inline-block;
    padding: 5px 10px;
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--hac-marine);
    background-color: var(--white);
    border: 2px solid var(--hac-ciel);
    border-radius : 50px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.cart-actions{
    display: flex;
    gap: 2rem;
    justify-content: center;
}
.registration-mode input[type="radio"]:checked + label {
    background-color: var(--hac-ciel);
    color: var(--white);
    box-shadow: inset 0 2px 4px rgba(0,0,0,0.2);
}

.mode-btn:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 8px rgba(0,0,0,0.15);
}
.main-container {
    display: flex;
    flex-wrap: wrap; /*passer à la ligne sur mobile */
    gap: 20px;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}
.stars {
    color: rgb(251, 60, 60);
}

/* Section formulaire */

.forms-section {
    flex: 2;
    min-width: 300px;
}

fieldset {
    border: none;
    padding: 0;
    margin: 0;
}
.participants-container {

    padding: 20px;
    margin-bottom: 20px;
    position: relative;
}

.participant-card {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.298);
    padding: 20px;
    margin-bottom: 20px;
    position: relative;
}

.form-group {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}

input {
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 4px;
    margin-top: 5px;
}

/* Gestion des erreurs */

input.invalid {
    border-color: var(--error);
    background-color: var(--grey);
}

.radio-group {
    margin: 15px 0;
    background: var(--grey);
    padding: 10px;
    border-radius: 4px;
}

/* Section Panier */

aside {
    flex: 1;
    padding: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.298);
    min-width: 250px;
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--white);
    height: fit-content;
}

.btn-add {
    background-color: var(--hac-marine);
    color: white;
    padding: 15px;
    width: 100%;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
}

.btn-add:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.btn-delete {
    background-color: rgb(251, 60, 60);;
    color: white;
    border: none;
    padding: 5px 10px;
    float: right;
    font-size: 1rem;
    border-radius : 50px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.cart-details p {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px dashed #ccc;
    padding-bottom: 5px;
}

.cart-total {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: right;
    color: var(--hac-ciel);
}